.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18.5px 5.55555%;
  position: sticky;
  top: 0;
  z-index: 2000;
  background: #fff;
  box-shadow: 0 -6px 10px 5px rgba(164, 159, 159, 0.139);
}

.headerStatic {
  position: static;
}

.menuWrapper {
  display: none;
}

@media (max-width: 1250px) {
  .header {
    padding-inline: max(3%, 20px);
  }
}

.navHeader {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 16.5px;
  position: sticky;
  top: 0;
  z-index: 20000;
  background: #fff;
  padding: 18.5px max(3%, 20px);
}

.logoWrapper {
  position: relative;
  width: 158px;
  aspect-ratio: 1/0.329;
}

.navWrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.nav {
  margin-inline: auto;
}

.navList {
  display: flex;
  align-items: center;
  gap: 14px;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: #3f3f46;

  font-size: 16px;
  font-weight: 400;
  line-height: var(--line-height);
  cursor: pointer;
  transition: color 0.2s;
}

.navLink:hover {
  color: #3375d9;
}

.navItem {
  position: relative;
}

.subRoutes {
  position: absolute;
  left: 0;
  width: auto;
  min-width: 200px;
  padding-top: 10px;
  background: #fff;

  color: #3f3f46;
  font-size: 18px;
  line-height: 1.66667;
  z-index: 30;
  border-radius: 8px;
}

.subRoutesMobile {
  position: relative;
  color: #3f3f46;
  font-size: 18px;
  line-height: 1.66667;
  border-radius: 8px;
  padding-top: 10px;
}

.subRoutesInner,
.subRoutesInnerMobile {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 8px;
  padding: 15px 20px;
}

.subNavsInner,
.subNavsInnerMobile {
  padding: 25px 40px;
}

.navInner {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.subNavHeader {
  font-size: 20px;
  margin-bottom: 0.8em;
  color: #05274c;
}

.subNav,
.subNavMobile {
  display: flex;
  gap: 50px;
}

.subNavMobile {
  gap: 70px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navItem > .subRoutes {
  display: none;
  opacity: 0;
  transition: all 0.2s;
}

.subRoute {
  cursor: pointer;
  transition: color 0.2s;
}

.subRoute:hover {
  color: #3375d9;
}

.navItem:hover > .subRoutes {
  display: block;
  opacity: 1;
}

.actions {
  display: flex;
  align-items: center;
  gap: 5px;
}

.login {
  padding: 12.5px 18.5px;
  color: #3375d9;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2777778;
}

@media (max-width: 1170px) {
  .navHeader {
    display: flex;
  }

  .navWrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1000;
    overflow-y: scroll;
    transition: transform 0.4s;
    background: #fff;
    z-index: 20;
  }

  .navItem > .subRoutes,
  .navItem:hover > .subRoutes {
    display: none;
  }

  .navLink:hover {
    color: inherit;
  }

  .navWrapper > .actions {
    display: none;
  }

  .navWrapperOpen {
    transform: translateX(100%);
    background-color: #fff;
  }

  .menuWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .navList {
    flex-direction: column;
    align-items: flex-start;
    gap: 17.9px;
  }

  .navLink {
    color: #05274c;
    font-size: 22px;
    justify-content: space-between;
    gap: 20px;
    padding: 8px;
  }

  .nav {
    margin-inline: 0;
    margin-bottom: 40px;
    padding: 18.5px max(3%, 20px);
    width: 100%;
  }

  .actions {
    padding: 18.5px max(3%, 20px);
  }

  .navList {
    width: 100%;
  }

  .navLink,
  .navItem {
    width: 100%;
  }

  .navItem {
    padding-bottom: 17.9px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
}

@media (max-width: 550px) {
  .menuWrapper > .actions {
    display: none;
  }

  .navWrapper > .actions {
    display: flex;
    flex-direction: column;
    margin-block: auto 24.5px;
    width: 100%;
    gap: 20px;
  }

  .navWrapper > .actions > * {
    width: 100%;
  }

  .navWrapper .login {
    padding: 17.5px;
    text-align: center;
    outline: 1px solid #3375d9;
    border-radius: 50px;
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  /* .actions {
    flex-direction: column;
    width: 100%;
    max-width: 400px;
  } */

  /* .actions > * {
    width: 100%;
  }

  .login {
    text-align: center;
  } */
}

@media (max-width: 355px) {
}
