.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18.5px 5.55555%;
}

.menuWrapper {
  display: none;
}

@media (max-width: 1250px) {
  .header {
    padding-inline: max(3%, 20px);
  }
}

.logoWrapper {
  position: relative;
  width: 158px;
  aspect-ratio: 1/0.329;
}

.navWrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.nav {
  margin-inline: auto;
}

.navList {
  display: flex;
  align-items: center;
  gap: 14px;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: #3f3f46;

  font-size: 16px;
  font-weight: 400;
  line-height: var(--line-height);
}

.actions {
  display: flex;
  align-items: center;
  gap: 5px;
}

.login {
  padding: 12.5px 18.5px;
  color: #3375d9;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2777778;
}

@media (max-width: 1150px) {
  .navWrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    width: 70%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
  }

  .navWrapperOpen {
    transform: translateX(100%);
    background-color: #111f39;
  }

  .menuWrapper {
    display: block;
  }

  .navList {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  .navLink {
    color: #fff;
    font-size: 22px;
  }

  .nav {
    margin-left: 0;
  }

  .actions {
    flex-direction: column;
    width: 100%;
    max-width: 400px;
  }

  .actions > * {
    width: 100%;
  }

  .login {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .navWrapper {
    width: 83%;
  }

  .navLink {
    font-size: 16px;
  }
}

@media (max-width: 355px) {
  .navWrapper {
    padding: 20px;
  }
}
