.expectation {
  padding: 1.9791667em 5.55555% 1.9791667em;
  font-size: clamp(36px, 3.3vw, 48px);
}

.expectationTextWrapper {
  padding-inline: 5.55555%;
  max-width: 780px;
  margin-inline: auto;
  text-align: center;
}

.expectationBoxWrapper {
  display: flex;
  flex-direction: column;
  gap: 38px;
  flex-shrink: 0;
}

.expectationDetailsInner {
  display: none;
}

.expectationHeading {
  color: #05274c;
  font-weight: 700;
  font-size: 48px;
  font-size: inherit;
  line-height: 1.3958;
  margin-bottom: 0.27083em;
  text-align: center;
}

.expectationBody {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 2.3em;
  line-height: 1.6;
  text-align: center;
  color: #05274c;
}

.expectationBox {
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 20px 0px #d0d7e94d;
  gap: 0.9em;
  padding: 0.9em 1.05em;
  border-radius: 10px;
  outline: 1px solid rgba(5, 39, 76, 0.1);
  cursor: pointer;
  font-size: 20px;
}

.expectationBoxCurrent {
  outline: 1px solid #3375d9;
  background-color: #ebf5fe;
}

.expectationHeader {
  font-weight: 400;
  font-size: inherit;
  line-height: 1.6;
  color: #05274c;
}

.expectationBoxCurrent .expectationHeader {
  font-weight: 700;
}

.expectationBodyText {
  color: #05274c;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 2.2em;
  line-height: 1.6;
}

.expectationMain {
  display: flex;
  gap: 56px;
}

.expectationDetails {
  box-shadow: 0px 3.8656537532806396px 44.384918212890625px 0px #d0d7e9cc;
  flex-grow: 1;
  padding: 1.642857em 64px 2.0357em;
  border-radius: 15px;
  font-size: 28px;
}

.expectationHeaderBody {
  font-weight: 700;
  font-size: inherit;
  line-height: 1.392857;
  color: #05274c;
  margin-bottom: 0.46em;
}

.expectationImageWrapper {
  position: unset !important;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.expectationImage {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

@media (max-width: 1250px) {
  .expectation {
    padding-inline: max(3%, 20px);
  }
}

@media (max-width: 1100px) {
  .expectationMain {
    flex-direction: column;
  }

  .expectationDetails {
    display: none;
  }

  .expectationBoxInner {
    border-radius: 10px;
  }

  .expectationBoxInnerCurrent {
    outline: 1px solid #3375d9;
  }

  .expectationBoxInner {
    font-size: 28px;
  }

  .expectationDetailsInner {
    display: flex;
    flex-direction: column;
    font-size: inherit;
  }

  .expectation {
    padding-block: 53px 62px;
  }
}

@media (max-width: 650px) {
  .expectationHeading {
    font-size: clamp(24px, 5.9vw, 36px);
    margin-bottom: 26px;
  }

  .expectationBodyText {
    font-size: 16px;
  }

  .expectationBody,
  .expectationBox {
    font-size: 18px;
  }

  .expectationBody {
    margin-bottom: 27px;
  }

  .expectationBoxInner {
    font-size: 20px;
  }
}

.expectationCheck {
  display: none;
}

.expectationCheck + .expectationBox + .expectationDetailsInner {
  height: 0;
  opacity: 0;
  font-size: 0;
  transition: all 0.2s ease-out;
  overflow: hidden;
  padding: 0;
}

.expectationCheck + .expectationBox > .expectationDetailsInner {
  transition: transform 0.2s;
}

.expectationCheck:checked + .expectationBox > .expectationDetailsInner {
  transform: rotate(-180deg);
}

.expectationCheck:checked + .expectationBox + .expectationDetailsInner {
  height: auto;
  opacity: 1;
  font-size: inherit;
  padding: 43px 20px 30px;
}
