:root {
  --mainColor: #ffffff;
  --secondary-color: #111f39;

  --mainButtonColor: #3375d9;
  --line-height: 1.25;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--mainColor);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.swiper {
  width: 100%;
  max-width: 1440px;
  overflow: visible;
}

.swiper-slide {
  min-height: 670px;
  max-width: 381px;
}

@media (max-width: 450px) {
  .swiper-slide {
    max-width: 262px;
    min-height: 465px;
  }
}

@media (max-width: 300px) {
  .swiper-slide {
    max-width: 200px;
    min-height: 375px;
  }
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none !important;
}

.swiper-pagination-bullet {
  background-color: #707988 !important;
  opacity: 1 !important;
  height: 10px !important;
  width: 10px !important;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}

.swiper-button-prev {
  background-image: url("../public/prev_icon.svg") !important;
  min-width: 52px;
  min-height: 52px;
  margin-left: 10px;
}

.swiper-button-next {
  background-image: url("../public/next_icon.svg") !important;
  min-width: 52px;
  min-height: 52px;
  margin-right: 10px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

/* @media (min-width: 1100px) {
  .swiper-pagination-bullet {
    height: 14px !important;
    width: 14px !important;
    margin-inline: 10px !important;
  }
} */
