@media (max-width: 450px) {
  .howItWorksBody,
  .planBody {
    font-size: 18px;
  }
}

@media (max-width: 1250px) {
  .howItWorks,
  .bodyContainerWrapper {
    padding-inline: max(3%, 20px);
  }
}

@media (max-width: 650px) {
  .howItWorksHeading,
  .generationHeading {
    font-size: 36px;
  }
}

.bodyContainerWrapper {
  display: flex;
  flex-direction: column;
  gap: 4.4375em;
  background-color: #ebf5fe;
  padding: 1.520833em 5.55555% 2.75em;
  font-size: clamp(36px, 3.3vw, 48px);
}

@media (max-width: 950px) {
  .bodyContainerWrapper {
    gap: 84px;
  }
}

@media (max-width: 650px) {
  .bodyContainerWrapper {
    font-size: clamp(24px, 5.9vw, 36px);
  }
}
