.howItWorks {
  background-color: #ebf5fe;
  padding: 64px 5.55555% 74px;
}

.step {
  background-color: #fbf9f6;
  padding: 109px 5.55555%;
}

.plan {
  background-color: #111f39;
}

.offer {
  background-color: #111f39;
  padding: 63px 5.55555% 55px;
}

.expectation,
.generation,
.plan {
  padding: 95px 5.55555% 258px;
}

.expectationTextWrapper {
  padding-inline: 5.55555%;
}

.generation {
  padding-inline: 0;
}

@media (max-width: 1250px) {
  .howItWorks,
  .step,
  .offer,
  .expectation,
  .expectationTextWrapper {
    padding-inline: max(3%, 20px);
  }
}

.howItWorksTextWrapper,
.stepTextWrapper,
.offerTextWrapper,
.planTextWrapper,
.expectationTextWrapper,
.generationTextWrapper {
  max-width: 780px;
  margin-inline: auto;
  text-align: center;
}

.howItWorksHeading,
.stepHeading,
.offerHeading,
.planHeading,
.expectationHeading,
.generationHeading {
  color: #05274c;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.3958;
  margin-bottom: 25px;
}

.expectationHeading,
.generationHeading {
  margin-bottom: 13px;
}

.offerHeading {
  margin-bottom: 0;
}

.offerHeadingWrapper {
  margin-bottom: 20px;
}

@media (max-width: 650px) {
  .howItWorksHeading,
  .stepHeading,
  .offerHeading,
  .planHeading,
  .expectationHeading,
  .generationHeading {
    font-size: 36px;
  }

  .step {
    padding-block: 40px;
  }
}

.howItWorksBody,
.stepBody,
.offerBody,
.expectationBody,
.generationBody,
.planBody {
  color: #05274c;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 59px;
}

@media (max-width: 450px) {
  .howItWorksBody,
  .stepBody,
  .offerBody,
  .expectationBody,
  .generationBody,
  .planBody {
    font-size: 18px;
  }
}

.offerHeading,
.offerBody,
.planHeading,
.planBody {
  color: #fff;
}

.offerBody {
  margin-bottom: 0;
}

@media (max-width: 500px) {
  .offerBody {
    margin-bottom: 59px;
  }
}

.expectationImageWrapper {
  position: unset !important;
  width: 100%;
}

.confidenceImageWrapper {
  position: unset !important;
  width: 90%;
  max-width: 940px;
  margin-inline: auto;
}

.confidenceImage,
.expectationImage {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.cardWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  gap: 4.1667vw;
}

@media (max-width: 380px) {
  .cardWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.coursesWrapperImage {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.coursesWrapper {
  position: unset !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  max-width: 377px;
}

.allCoursesLinkWrapper {
  display: flex;
  justify-content: center;
}

.allCoursesLink {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  padding: 17.5px 46px;
  border: 1px solid #3375d9;
  border-radius: 50px;
  color: #fff;
  background-color: transparent;
  margin-top: 50px;
  text-align: center;
}

@media (max-width: 450px) {
  .allCoursesLink {
    margin-top: 20px;
  }
}

.expectationBoxWrapper {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.expectationBox {
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 20px 0px #d0d7e94d;
  gap: 18px;
  padding: 18px 21px;
  border-radius: 10px;
  border: 1px solid rgba(5, 39, 76, 0.1);
  cursor: pointer;
}

.expectationBoxCurrent {
  border: 1px solid #3375d9;
  background-color: #ebf5fe;
}

.expectationHeader {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: #05274c;
}

.expectationBoxCurrent .expectationHeader {
  font-weight: 700;
}

.expectationHeaderBody {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.392857;
  color: #05274c;
  margin-bottom: 13px;
}

.expectationBodyText {
  color: #05274c;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 44px;
  line-height: 1.6;
}

.expectationMain {
  display: flex;
  gap: 56px;
}

.expectationDetails {
  box-shadow: 0px 3.8656537532806396px 44.384918212890625px 0px #d0d7e9cc;
  flex-grow: 1;
  padding: 46px 64px 57px;
  border-radius: 15px;
}

@media (max-width: 1000px) {
  .expectationDetails {
    padding: 30px;
  }

  .expectationBox {
    padding: 10px 20px;
  }

  .expectationMain {
    gap: 30px;
  }

  .expectation,
  .generation {
    padding-block: 60px;
  }
}

@media (max-width: 900px) {
  .expectationMain {
    flex-direction: column;
  }

  .expectationBoxWrapper {
    flex-direction: row;
    overflow-x: auto;
  }

  .expectationBoxWrapper > * {
    flex-shrink: 0;
  }
}

.bodyContainerWrapper {
  background-color: #ebf5fe;
  padding-block: 39px;
}

.instructors {
  display: flex;
  overflow-x: auto;
  gap: 20px;
}
