.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 9vw;
  text-align: left;
  font-size: inherit;
  overflow-x: hidden;
}

@media (max-width: 1200px) {
  .wrapper {
    gap: 30px;
  }
}

.wrapperReverse {
  flex-direction: row-reverse;
}

.wrapper > * {
  flex-basis: 0;
  flex-grow: 1;
}

.header {
  font-weight: 700;
  font-size: inherit;
  line-height: 1.2;
  color: #05274c;
  margin-bottom: 0.5625em;
}

.body {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: #05274c;
}

.imageWrapper {
  width: 100%;
  position: unset !important;
  min-width: 450px;
}

.buttonWrapper {
  margin-top: 22px;
}

.buttonWrapperBottom {
  display: none;
}

@media (max-width: 950px) {
  .wrapper,
  .wrapperReverse {
    flex-direction: column;
    gap: 0;
  }

  .header {
    text-align: center;
    margin-bottom: 22px;
  }

  .imageWrapper {
    max-width: 650px;
    min-width: 0;
  }

  .body {
    margin-bottom: 44px;
  }

  .buttonWrapper {
    display: none;
  }

  .buttonWrapperBottom {
    display: block;
    margin-top: 26px;
  }
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

@media (max-width: 650px) {
  .body {
    font-size: 18px;
  }
}
